body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #24292a;  
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background: linear-gradient(#24292a, #24292e) 50%, rgba(36, 41, 46, 0);
}


.main > .container {
  display: grid;
  grid-template-columns: auto 360px;
  grid-template-areas: "demopanel controlpanel"
}

.demo-panel {
  grid-area: demopanel;
}

.control-panel {
  grid-area: controlpanel;  
}


@media (max-width: 500px) {
  .main > .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "demopanel"
    "controlpanel"    
  }
}

